[General]
url = url-of-bot
summary = Random number generator by author-username-here
reddit_username = username
reddit_password = password
subreddit_triggers = other-trigger-1,other-trigger-2
subreddits = subreddit1,subreddit2